*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'byekan';
    src: url(فونت/Yekan.ttf) format('truetype');
}
@font-face{
    font-family: 'lalehzar';
    src: url(فونت/Lalezar-Regular.ttf) format('truetype');
}
body{
    font-family: byekan;
}
.header{
    height: 700px;
    background-image: url(عکس/بکگراند2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 25px;
}
.nav-item {
    display: inline-block;
    color: goldenrod;
    font-family: lalehzar;
    list-style-type: none;
    border-radius: 20px;
    padding: 5px;
    margin: 10 10px;
    font-size: 30px;
    box-shadow: 0 0 20px white;
}
.nav-item a:link{
    color: goldenrod;
    text-decoration: none;
}
.nav-item a:visited{
    color: goldenrod;
}
.nav-item a:hover{
    color: white;
}
.nav-item a:active{
    color: blue;
}
.title{
    color: rgb(221, 221, 221);
    padding-top: 250px;
    padding-left: 575px;
    font-size: 25px;
}
.desc{
    display: inline-block;
    color: goldenrod;
    margin-top: 200px;
    font-size: 50px;
    text-align: center;
    box-shadow: 0 0 20px goldenrod;
    border-radius: 30px;
    padding: 5px 10px;
}





.members{
    text-align: center;
    padding: 40px;
    background-color: lightgray;
}
.members h2{
    box-shadow: 0 0 20px goldenrod;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 30px;
}
.member-list{
    list-style-type: none;
}
.member-item{
    width: 300px;
    height: 850px;
    display: inline-block;
    box-shadow: 0 0 20px goldenrod;
    margin: 50px;
    border-radius: 10px;
}
.member-pic{
    width: 100%;
    background-origin: border-box;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}
.member-name{
    font-size: 20px;
    margin-top: 5px;
    font-family: byekan;
}
.member-bio{
    padding: 10px;
    text-align: justify;
    font-family: lalehzar;
}





.about{
    background-image: url(عکس/بک.jpeg);
    background-size: cover;
    height: 700px;
    color: black;
    text-align: center;
    background-blend-mode: multiply;
    padding-top: 50px;
}
.circle{
    width: 450px;
    height:450px;
    background-color: rgba(205, 205, 205 , 0.5);
    border-top-left-radius: 0%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    text-align: center;
    margin-right: 800px;
    margin-top: 20px;
    padding: 25px 50px;
    box-shadow: 0 0 20px goldenrod;
}
.khodam{
    background-image: url(عکس/امیرحسین.png);
    width: 666px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
    margin-right: -550px;
    margin-top: 50px;
    border-radius: 50px;
    box-shadow: 0 0 20px goldenrod;
}
p{
    text-align: justify;
}
h2{
    padding: 10px 10px;
    padding-top: 0%;
    font-size: 30px;
}





.footer{
    height: 60px;
    background-color: rgba(200, 200, 200, 0.5);
    text-align: center;
}
.footer img{
    width: 40px;
    margin-top: 10px;
    border-radius: 50%;
}
.panda{
    background-color:  rgba(200, 200, 200, 0.5);;
    text-align: center;
    margin: 0;
}
